* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
   
    background-color: #1a1a1a;
    height: 68px;
    padding: 0 20px;
    width: 100%;
}

.navbar-inner {
     display: flex;
    justify-content: space-between; 
    align-items: center;
     max-width: 1500px;
     height: 100%;
     margin: 0 auto;
    

}

.left-content h1 {
    color: #c8f135;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Syne', sans-serif;
  
   
}

.right-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-content a {
    text-decoration: none;
    color: #888;
    font-size: 0.95rem;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    transition: color 0.3s ease;
}



a:hover {
    color: #fafafa;
}

.desktop-btn {
    padding: 10px 20px;
    background-color: #c8f135;
    color: #1a1a1a;
    border: none;
    border-radius: 20px;
    font-size: 0.95rem;
    font-family: DM Sans, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out;
}

.btn:hover {
    background-color: #ccef86;
}

/* Mobile Styles hamburger*/

.menu-toggle {
    display: none; /* hide the checkbox */
}

.hamburger {

    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 4px;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 2px;
     background: #f0f0f0;
     border-radius: 2px;
     transition: transform 0.3s, opacity 0.3s;
}

.menu-toggle:checked + nav .hamburger span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-toggle:checked + nav .hamburger span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
.menu-toggle:checked + nav .hamburger span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Mobile Links */

.mobile-links{
    display: none;
    flex-direction: column;
    align-items: center;
   background-color: #1a1a1a;
   padding: 1.5rem 2rem;
   border-bottom: 1px solid #2a2a2a;
   opacity: 0;
   transition: opacity 0.3s ease;
   transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-links a {
    text-decoration: none;
    color: #888;
    font-size: 0.95rem;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    padding: 10px 0;
   
}

a:hover {
    color: #fafafa;
}

.mobile-btn {
    padding: 10px 20px;
    background-color: #c8f135;
    color: #1a1a1a;
    border: none;
    border-radius: 20px;
    font-size: 0.95rem;
    font-family: DM Sans, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out;
    width: 8rem;
   
}

.menu-toggle:checked ~ .mobile-links,
.menu-toggle:checked ~ * .mobile-links {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  
.right-content {
    display: none;
}

.hamburger {
    display: flex;
}

.mobile-links {
    display: flex;
}

}